body{
    background-image: url(https://img.freepik.com/vetores-premium/fundo-abstrato-branco-e-cinza_528453-23.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: auto;
}
p{
    font-size: 17px;
    font-family: 'poppins';
}